@media print {

  #reviewHeadingDelete, #buttonContainer {
    display: none;
  }

/*  p {
    page-break-inside: avoid;
  }*/

  #estimateForm {
  	justify-content: flex-start;
  }

  table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }

}