@page {

    /* this affects the margin in the printer settings */   
}

@media print {

  body {
    padding: 0;
    margin: 0;
  }

  #reviewHeadingDelete, #buttonContainer {
    display: none;
  }

  #estimateForm {
  	justify-content: flex-start;
  }

  .page-break div {
    display: inline-block;
    page-break-inside:avoid;
  }

  table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }

}